.vr-pic {
  object-fit: cover;
  width: 20vw;
  height: 13vw;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .vr-pic {
    width: 80%;
    height: auto;
    max-height: 250px;
  }
}

@media (max-width: 480px) {
  .vr-pic {
    width: 100%;
    max-height: 200px;
  }
}
