.showMediaContainer {
  display: block;
  position: relative;
  width: 0;
}

.showMediaContainer.show {
  display: block;
}

.showMediaContainer img {
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
}

.showMediaContainer a {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s ease, transform 1s ease;
}

.showMediaContainer.show a {
  opacity: 1;
  transform: scale(1);
}

.showMediaContainer a::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    transparent,
    var(--glow-weak),
    var(--glow-strong),
    var(--glow-weak),
    transparent
  );
  animation: rotate-border 3s linear infinite;
  z-index: -1;
}

.showMediaContainer a::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: black;
  border-radius: 50%;
  z-index: -1;
}

@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.showMediaContainer a:hover::before {
  animation: rotate-border 10s linear infinite;
}

.github-media-container {
  position: relative;
  left: -240px;
  top: -7px;
}

.github-media-container a {
  transition-delay: 0.2s;
}

.instagram-media-container {
  position: relative;
  left: -270px;
  top: 31px;
}

.instagram-media-container a {
  transition-delay: 0.2s;
}

.discord-media-container {
  position: relative;
  left: -240px;
  top: 83px;
}

.discord-media-container a {
  transition-delay: 0.3s;
}

.twitter-media-container {
  position: relative;
  left: -120px;
  top: -20px;
}

.twitter-media-container a {
  transition-delay: 0.4s;
}

.spotify-media-container {
  position: relative;
  top: -40px;
}

.spotify-media-container a {
  transition-delay: 0.5s;
}

.steam-media-container {
  position: relative;
  left: 20px;
  top: -50px;
}

.steam-media-container a {
  transition-delay: 0.6s;
}

.vrchat-media-container {
  position: relative;
  left: 0px;
  top: -170px;
}

.vrchat-media-container a {
  transition-delay: 0.7s;
}
