.playlists-grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
      overflow-y: hidden;
    overflow-x: auto;
  width: 100%;
}

.playlist-item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.40rem;
  border-radius: 0.5rem;
  align-items: flex-start;
}

.playlist-item img {
  flex-shrink: 0;
  width: 6.25rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.25rem;
}

.playlist-info {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.playlist-info h4 {
  margin: 0 0 0.5rem 0;
  overflow: hidden;
  max-width: 7.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-info p {
  font-size: 0.8rem;
 margin: 0.25rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;   
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;  
}
.playlist-info span {
  font-size: 1rem;
  color: #ff0000;
}

/* Responsive styles */
@media (max-width: 768px) {
  .playlist-item img {
    width: 5rem;
    height: 8.125rem;
  }
  
  .playlist-item {
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .playlist-item img {
    width: 4.375rem;
    height: 6.875rem;
  }
  
  .playlist-info h4 {
    font-size: 0.9rem;
  }
  
  .playlist-info p {
    font-size: 0.8rem;
  }
}