.weather-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 100%;
}

@media (max-width: 800px) {
  .weather-card {
    align-items: center;
  }
}
.weather-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.weather-location {
  background: linear-gradient(
    90deg,
    rgba(155, 42, 42, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(83, 137, 237, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;
}

.weather-temp-container {
  display: flex;
  align-items: end;
  gap: 2rem;
}

.temp-celcius {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary);
}

.celcius {
  font-size: 1.5rem;
  font-weight: 700;
}

.temp-fahrenheit {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--primary);
}

.fahrenheit {
  font-size: 1rem;
  font-weight: 700;
}

.weather-humidity {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.weather-condition {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.weather-time {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Responsive styles */
@media (max-width: 768px) {
  .weather-temp-container {
    gap: 1rem;
  }
  
  .temp-celcius {
    font-size: 2rem;
  }
  
  .celcius {
    font-size: 1.2rem;
  }
  
  .temp-fahrenheit {
    font-size: 1rem;
  }
  
  .fahrenheit {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .weather-temp-container {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }
  
  .temp-celcius {
    font-size: 1.8rem;
  }
  
  .weather-title {
    font-size: 1rem;
  }
}
